body{
    color: #4A4D54;
    margin: 0 0 0 0px;
    background-color: #ECEDEF;
}

nav{
    height: 85px;
    position: sticky;
    font-family: 'Lato';
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


nav li{
    display: inline-block;
    list-style-type: none;
}

nav a {
    margin: 0 30 0 30px;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 8px;
    text-decoration: none ;
    color: #4A4D54; 
} 

#welcome {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 85px);
    width: 100vw;
}

#welcome h1 {
    font-weight: 400;
    font-size: 6em;
    margin: 0;
}

.containerWelcome p {
    font-weight: 200;
    font-size: 2em;
    margin: 0;
}

.containerWelcome {
    position: absolute;
    bottom: 40;
    left: 40;
    font-weight: 300;
    font-family: 'Open Sans';
}

.image {
    margin: 0 auto;
    height: 500px;
    width: 500px;
    text-align: center;
    padding-bottom: 200px;
}

.image p {
    margin: 0 0 10 0 ;
    font-size: 5em;
    font-weight: 200;
    font-family: 'Open Sans'; 
}

.circle {
    border-radius: 100%;
    background-color: #F9FAFE;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.circle img {
    display: block;
    padding-top: 70px;
    margin: 0 auto;
    max-height: 120%;
    max-width: 100%;
}

.line {
    width: 100px;
    height: 5px;
    background-color:#FF2D55;
}

.explore {
    margin: 0;
    position: absolute;
    bottom: 40;
    right: 40;
    font-size: 2em;
    font-weight: 200;
    font-family: 'Open Sans';
}
