/* Helper classes*/

.hidden {
    display: none;
}

.flexbox {
    display: flex;
    justify-content: center;
}


/* End helper classes */

* {
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.backgroundblock {
    width: 100%;
}

.header {
    font-weight: 600;
    width: 60%;
    text-align: left;
    font-size: 4rem;
}

.whitespace {
    display: block;
    height: 20%;
    width: 100%;
}

.container {
    margin-top: 5%;
}

.content {
    width: 65%;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#intro {
    background-color: white;
    color: black;
    height: auto;
    padding: 10% 8%;
}

#intro h1 {
    font-size: 5em;
}

.titleIntro {
    grid-column-start: 2;
}

.titleText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    font-size: 1.8rem;
    line-height: 150%;
    padding-top: 20px;
}

#about {
    color: white;
    background-color: #FFDD00;
    padding: 10% 8%;
}

#about h1 {
    font-size: 3rem;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column-start: 3;
}

.title h1 {
    display: flex;
    justify-content: flex-end;
    font-size: 3em;
}

.selfpic {
    grid-column: 3 / span 2;
    grid-row-start: 2;
    display: flex;
    justify-content: flex-end;
}

.selfpic img {
    height: 100%;
    width: 100%;
}

#skills {
    color: black;
    background-color: #F2F2F2;
    padding: 10% 8%;
}

#skills h1 {
    font-size: 3rem;
}

.skill {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.skill h2 {
    padding-left: 30px;
    font-size: 1.3em;
}

.align-procent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.procent {
    height: 50%;
    width: 90%;
    background-color: white;
}

.subTitle {
    text-align: right;
    width: 100%;
    display: block;
    padding-bottom: 20px;
}



/* Hamburger menu */

.menu {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 9999;
}

.menu-wrapper {
    width: 40px;
    height: 22px;
    cursor: pointer;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
    width: 40px;
    height: 2px;
}

.hamburger-menu {
    position: relative;
    transform: translateY(12px);
    background: black;
    transition: all 0ms 300ms;
}

.hamburger-menu.animate {
    background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: black;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: black;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-block {
    height: 100%;
    background-color: white;
    color: black;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
}

.menu-list {
    display: table;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-list-items {
    display: table-cell;
    vertical-align: middle;
    
}

.menu-list-items a {
    font-size: 2em;
    color: black;
    transition: all 0.4s ease;
}

.menu-list-items a:hover {

 /* BUG: hover doesn't seem to be going smooth => issue with color */
    color: #FFDD00;    
    font-size: 4em;
    transition: all 0.4s ease;
}

/* End of hamburger menu */

/* contact */

.contact {
    z-index: 1;
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 100px;
}

.linkedIn {
    display: block;
    float: right;
    width: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
}


/* End of contact*/