* {
    font-family: 'Open Sans';
    margin: 0 ;
}

a {
    color: black;
    text-decoration: none;
}

.backgroundblock {
    width: 100%;
}

.header {
    padding-top: 100px;
    font-size: 7em;
    font-weight: 300;
    text-align: center;
}

.whitespace {
    display: block;
    height: 20%;
    width: 100%;
}

.flexbox {
    display: flex;
    justify-content: center;
}

.content {
    width: 60%;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

#intro {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    color: white;
    background-color: #FF0061;
    height: 30%;
}

#intro h1 {
    font-size: 5em;
}

.titleIntro {
    grid-column-start: 2;    
}

.titleText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
}

#about {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    color: white;
    background-color: #FFDD00;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column-start: 3;
}

.title h1 {
    display: flex;
    justify-content: flex-end;
    font-size: 3em;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #9D00B4;
}

.sectionContent {
    padding-right: 30px;
    text-align: justify;
    color: white;
    grid-column-start: 2;
}

.selfpic {
    grid-column:  3 / span 2;
    grid-row-start: 2;
    display: flex;
    justify-content: flex-end;
}

.selfpic img {
    height: 100%;
    width: 100%;
}

/* Hamburger menu */

.menu {
    position: sticky;
    display: flex;
    justify-content: flex-end;
    top: 0;
    align-self: flex-start;
}

.menu-wrapper {
    padding-top: 30px;
    padding-right: 30px;
    width: 40px;
    height: 22px;
    cursor: pointer;
  }
  
  .hamburger-menu,
  .hamburger-menu:after,
  .hamburger-menu:before {
    width: 40px;
    height: 2px;
  }
  
  .hamburger-menu {
    position: relative;
    transform: translateY(12px);
    background: black;
    transition: all 0ms 300ms;
  }
  .hamburger-menu.animate {
    background: rgba(255, 255, 255, 0);
  }
  
  .hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: black;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: black;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  /* End of hamburger menu */